@{
	//Array file_input = null;
	var SQLText = "";
	

	 
	if(IsPost)
	{
		var filename = @"~/Redirect.txt";
		var filePath = Server.MapPath(filename);

		if(File.Exists(filePath))
		{
			File.Delete(filePath);
			//File.Create(filePath);
		}
		
		var result = Testing.Program.Main();
		Response.Write("<pre>" + "result:\n" + result +"</pre>");
			
		Response.Redirect("final_notif.html");
		
	}
}




<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Welcome | SQLVal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
       
        
        
       <!-- side bar-->
	
	<script src="js/jquery.min.js"></script>
	<script src="js/sidetogglemenu.js"></script>
	
	
       <link rel="stylesheet" type="text/css" href="css/style_main.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/new.css" />
		 
		<script>

		jQuery(function(){ // on DOM load
		menu1 = new sidetogglemenu({  // initialize first menu example
			id: 'togglemenu1',
			marginoffset: 10
			})

		menu2 = new sidetogglemenu({  // initialize second menu example
			id: 'togglemenu2',
			position: 'right',
			source: 'togglemenu.txt',
			revealamt: -5
			})
			})

		</script>

		<script>

		jQuery(function(){ // on DOM load
		menu1 = new sidetogglemenu({ // initialize first menu example
			id: 'togglemenu1',
			pushcontent: true // <- No comma after last option!
			})
		})

		</script>
		<script>

		jQuery(function(){ // on DOM load
		menu2 = new sidetogglemenu({ // initialize first menu example
			id: 'togglemenu2',
			position: 'left',
			pushcontent: true // <- No comma after last option!
			})
		})
		</script>
	       
        
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/default.min.css">
        <link rel="stylesheet" href="css/demo.min.css">
	<link rel="stylesheet" href="css/custom.css">

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/pretty.js"></script>
		
        <!-- BOOTSTRAP-FULLSCREEN-SELECT files -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap-fullscreen-select.css" />
        <script type="text/javascript" src="js/bootstrap-fullscreen-select.js"></script>
        <!--END BOOTSTRAP-FULLSCREEN-SELECT file---->
		<!--For progress meter-->
		<script type="text/javascript" src="js/progress.js"></script>
		<link rel="stylesheet" href="css/progress.css">
		
		
		<style type="text/css">
                body{
                        background: url(img/white3.jpg) no-repeat;
			            background-size: 962px 727px;
			
                   }
                </style>
                 
    </head>
    <body>
		<div id="divMain" style="width:962px;height:727px;overflow:hidden">

		<script type="text/javascript">
  		$(document).ready(function () {
  		$('.mobileSelect').mobileSelect({
  			animation: 'scale',
  			animationSpeed: 400
  		});
  	});
		</script>
		
		 <!-- home-->	
		<script>
			$(document).ready(function() {
				$('img.thumbnail').click(function() {
					window.location.href ='Default.cshtml';
			});
			});
			</script>
		
		<div class="row">
			<div id="logo-wrapper" class="col-sm-12">
				<img class="img-responsive" src="img/logo.png" alt="logo">
			<ul class="float-right reponsive-block">
			
			
			           <img class="thumbnail" src="img/home.png" style="width:60px;height:45px" /> 
			           <img src="img/menu.png" style="width:60px;height:45px"onClick="menu2.toggle()" class="sideviewtoggle" />	
			</ul>
			
			
			
			<div id="togglemenu2" class="sidetogglemenu">		
			<ul>
			</br></br></br>
<li><a href="upload_new.cshtml">Upload and Validate</a></li></br>
<li><a href="documentation.html">Help</a></li></br>
<li><a href="contact.html">Contact US</a></li>
</ul>
</div>
			
			
		</div>
		
		
		<div>
			<div class="col-sm-12">
				<h3><b>Your Uploaded script.. Wanna validate it?</b></h3>
				<div id="list">
  <p><iframe src="temp.txt" frameborder="0"  height="350px" width="550px"  ></iframe></p>
</div>
			</div>
		</div>
		
		
			
		<br></br>
		<div class="row">
			
				<!--a id="submitButton" href="final_notif.html" class="progress-button" onsubmit="final.notif.html" >Submit</a-->
				<form method="post">
					<input type="submit"  class="btn btn-lg btn-info" value="Submit"/>
				</form>
		</div> 
		
	</div>
			</div>
		 
    </body>
</html>
